header,h1, #new{
    font-family: 'Source Sans Pro', sans-serif;
}
body {
background: #c20808
}
.board-container {
  height: 57vh;
  width: 57vw;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid black;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  
}
.square{
    border: 2px solid black;
}

h1{
    display:flex;
    justify-content:center;
    padding:0;
}
#score-container{
    padding: 0;
    display:grid;
    grid-template-columns:  20vw 55vw 20vw;
    grid-template-rows: 30vh;
    /* border: 2px solid black;  */
    margin: 0 auto;
    font-size: 30px;
    align-items: flex-end;
    
}
.score{
    padding:3vh;
    border: 2px solid black; 
    display:grid;
    justify-self: end;
}
.button-container{
    display:flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1em;
    margin:0
}
#new{
    background-color: beige;
    border-radius: 15px;
    padding:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#openModal{
background-color: beige;
border-radius: 15px;
padding:10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
display:flex;
align-items: center;
}
.square{
display:flex;
justify-content: center;
border-radius: 5px;
}

.square-container{
    border-radius: 5px;
    display:none;
  }

.bomb{
    background-color: crimson;
  }


  #modal{
	background-color: rgba(0, 0, 0, .4);
	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow:auto;
    

}
#modal-textbox{
	background-color: yellow;
	height:450px;
	width: 550px;
	border-radius: 10px;
	margin: 150px auto;
    padding: 10px;
    border:5px solid black ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace;

}
p{
    font-family: 'Source Code Pro', monospace;
}




